<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Api scocial media nodeJS</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body class="body-wrapper">
    <div class="title">
      <h1>Api Music App Node</h1>
    </div>
    <!-- User -->
    <div class="user-container container">
      <h2>User CRUD</h2>
      <h3>Register</h3>
      <h5>Request Method: POST</h5>
      <span>https://music-app-node.onrender.com/api/user/register</span>
      <img src="img/register.png" />

      <h3>Login</h3>
      <h5>Request Method: POST</h5>
      <span>https://music-app-node.onrender.com/api/user/login</span>
      <img src="img/login.png" />

      <h3>Get user profile</h3>
      <h5>Request Method: GET (add token in headers Authorization)</h5>
      <span
        >https://music-app-node.onrender.com/api/user/profile/${user id}</span
      >

      <h3>Update user Auth</h3>
      <h5>Request Method: PUT (add token in headers Authorization)</h5>
      <span>https://music-app-node.onrender.com/api/user/update</span>

      <h3>Upload user avatar</h3>
      <h5>Request Method: POST (add token in headers Authorization)</h5>
      <span>https://music-app-node.onrender.com/api/user/upload</span>
      <img src="img/avatar.png" />

      <h3>Get user avatar</h3>
      <h5>Request Method: GET</h5>
      <span
        >https://music-app-node.onrender.com/api/user/avatar/${ filename }</span
      >
    </div>
    <!-- Artist -->
    <div class="artist-container container">
      <h2>Artist CRUD</h2>
      <h3>Save Artist</h3>
      <h5>Method: POST (add token in headers Authorization)</h5>
      <span>https://music-app-node.onrender.com/api/artist/save</span>
      <img src="img/save-artist.png" />

      <h3>Get one Artist</h3>
      <h5>Method: GET (add token in headers Authorization)</h5>
      <span
        >https://music-app-node.onrender.com/api/artist/profile/${ artist
        id}</span
      >

      <h3>Get All Artists</h3>
      <h5>Method: GET (add token in headers Authorization)</h5>
      <span
        >https://music-app-node.onrender.com/api/artist/profiles/${ number page
        }</span
      >

      <h3>Update Artist</h3>
      <h5>Method: PUT (add token in headers Authorization)</h5>
      <span
        >https://music-app-node.onrender.com/api/artist/update/${ artist id
        }</span
      >

      <h3>Delete Artist (delete artist's album and song too)</h3>
      <h5>Method: DELETE (add token in headers Authorization)</h5>
      <span
        >https://music-app-node.onrender.com/api/artist/delete/${ artist id
        }</span
      >

      <h3>Upload image Artist</h3>
      <h5>Method: POST (add token in headers Authorization)</h5>
      <span
        >https://music-app-node.onrender.com/api/artist/upload/${ artist id
        }</span
      >
      <img src="img/image-artist.png" />

      <h3>Get image Artist</h3>
      <h5>Method: GET</h5>
      <span
        >https://music-app-node.onrender.com/api/artist/image/${ filename
        }</span
      >
    </div>
    <!-- Album -->
    <div class="album-container container">
      <h2>Album CRUD</h2>
      <h3>Create Album</h3>
      <h5>Method: POST (add token in headers Authorization)</h5>
      <span>https://music-app-node.onrender.com/api/album/create</span>
      <img src="img/create-album.png" />

      <h3>Get One Album</h3>
      <h5>Method: GET (add token in headers Authorization)</h5>
      <span
        >https://music-app-node.onrender.com/api/album/name/${ album id }</span
      >

      <h3>Get All Albums</h3>
      <h5>Method: GET (add token in headers Authorization)</h5>
      <span
        >https://music-app-node.onrender.com/api/album/names/${ artist id
        }</span
      >

      <h3>Update Album</h3>
      <h5>Method: PUT (add token in headers Authorization)</h5>
      <span
        >https://music-app-node.onrender.com/api/album/update/${ album id
        }</span
      >

      <h3>Delete Album (delete album's song too)</h3>
      <h5>Method: DELETE (add token in headers Authorization)</h5>
      <span
        >https://music-app-node.onrender.com/api/album/delete/${ album id
        }</span
      >

      <h3>Upload Image Album</h3>
      <h5>Method: POST (add token in headers Authorization)</h5>
      <span
        >https://music-app-node.onrender.com/api/album/upload/${ album id
        }</span
      >
      <img src="img/avatar.png" />

      <h3>Get Image Album</h3>
      <h5>Method: GET (add token in headers Authorization)</h5>
      <span
        >https://music-app-node.onrender.com/api/album/image/${ filename }</span
      >
    </div>
    <!-- Song -->
    <div class="song-container container">
      <h2>Song CRUD</h2>
      <h3>Create Song</h3>
      <h5>Method: POST (add token in headers Authorization)</h5>
      <h5>Add album id in album key</h5>
      <span>https://music-app-node.onrender.com/api/song/create</span>
      <img src="img/create-song.png" />

      <h3>Get One Song</h3>
      <h5>Method: GET (add token in headers Authorization)</h5>
      <span
        >https://music-app-node.onrender.com/api/song/name/${ song id }</span
      >

      <h3>Get All Songs</h3>
      <h5>Method: GET (add token in headers Authorization)</h5>
      <span
        >https://music-app-node.onrender.com/api/song/names/${ album id }</span
      >

      <h3>Update Song</h3>
      <h5>Method: PUT (add token in headers Authorization)</h5>
      <h5>Add album id in album key if update that field</h5>
      <span
        >https://music-app-node.onrender.com/api/song/update/${ song id}</span
      >

      <h3>Delete Song</h3>
      <h5>Method: DELETE (add token in headers Authorization)</h5>
      <span
        >https://music-app-node.onrender.com/api/song/delete/${ song id }</span
      >

      <h3>Upload audio file</h3>
      <h5>Method: POST (add token in headers Authorization)</h5>
      <h5>Add file mp3 or ogg</h5>
      <span
        >https://music-app-node.onrender.com/api/song/upload/${ song id }</span
      >
      <img src="img/upload-song.png" />

      <h3>Get audio file</h3>
      <h5>Method: GET (add token in headers Authorization)</h5>
      <span
        >https://music-app-node.onrender.com/api/song/audio/${ filename }</span
      >
    </div>
  </body>
</html>
